h1 {
color: blue;
}
.flex-container {
    /* display: flex; */
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    height: 200px;
    /* flex: 1; */
  }
  .one {
    background-color: #1F2937;
  }
  .two {
    background-color: white
  }
  .three {
    background-color: #E5E7EB
  }
  .four {
    background-color: white
  }