body{
    font-family: verdana;
}*{
    margin:0;
    padding:0;
}
header,footer{
    position: absolute;
    background-color: #1F2937;
    width:100%;
    color: white
}
header{
    height: 10vh;
}
.flex-container {
    /* display: flex; */
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    height: 200px;
    /* flex: 1; */
  }
  .one {
    background-color: #1F2937;
  }
  .two {
    background-color: white
  }
  .three {
    background-color: #E5E7EB
  }
  .four {
    background-color: white
  }
  footer{
    height: 15vh;
    bottom:0;
}
footer h2{
    position: absolute;
    left:45%;
}